.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.navbar ul.open {
  display: flex;
}
.ham {
  display: none;
  color: white;
}

.navbar h2 {
  color: #fff;
  font-size: 1.5rem;
}

.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s, transform 0.3s;
}

.navbar ul li a:hover {
  color: #00bcd4;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    background: #222;
    position: absolute;
    left: 0;
    top: 60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .ham {
    display: block;
    cursor: pointer;
  }
}
